.header__main-title {
  margin: 0;
  padding-top: 30px;
  padding-left: 142px;
  font-family: 'Imprint MT Shadow';
  font-size: 96px;
  line-height: 113px;
  font-style: normal;
  font-weight: 400;
  color: #fff;
  height: 100px;
}
